body {
    margin: 0;
    height: 100vh;
    background-color: #E5E5E5;
    display: grid;
    place-items: center;
}
.container {
    background: linear-gradient(#EEEEEE, #FFFFFF);
    padding: 30px;
    text-align: center;
}
h1 {
    background: linear-gradient(#EF6C00, #DB6300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input {
    padding: 10px;
    border: #CFCFCF solid 1px;
    border-radius: 5px;
}
.input:focus {
    border: #FF6600 solid 1px;
}
button {
    height: 36px;
    cursor: pointer;
    background: linear-gradient(#EF6C00, #C0661C);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
hr {
    width: 80%;
}
.display {
    height: 300px;
    width: 200px;
    margin: auto;
    position: relative;
}
.display div {
    border-radius: 20px;
    position: absolute;
}
.um {
    margin: 0;
    top: 0;
    left: 0;
    width: 95%;
    height: 40px;
}
.dois {
    margin: 0;
    top: 0;
    right: 0;
    width: 40px;
    height: 50%;
}
.tres {
    margin: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 50%;
}
.quatro {
    margin: 0;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 40px;
}
.cinco {
    margin: 0;
    top: 0;
    left: 0;
    width: 40px;
    height: 50%;
}
.seis {
    margin: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 50%;
}
.sete {
    margin: 0;
    width: 95%;
    height: 45px;
    top: 44%;
}
.flex {
    display: flex;
}
.flex div {
    margin: 5px;
}